  
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.panel-1{
  background-image: url(../assets/images/image\ 1\ -\ explore\ the\ world.jpg);
}

.panel-2{
  background-image: url(../assets/images/image\ 2\ -\ wild\ forest.jpg);
}

.panel-3{
  background-image: url(../assets/images/image\ 3\ -\ sunny\ beach.jpg);
}

.panel-4{
  background-image: url(../assets/images/image\ 4\ -\ city\ in\ winter.jpg);
}

.panel-5{
  background-image: url(../assets/images/image\ 5\ -\ mountain\ clouds.jpg);
}